DATABASE_URL=postgresql://postgres:postgres@localhost:5432/jobtrack
NEXT_PUBLIC_APP_NAME=Jobtrack
AUTH_DEMO_USER_ID=00000000-0000-0000-0000-000000000001
AUTH_SECRET=eUHqoRv3lThYtWRe14fQFNuLZHiFwsGGcBWyq6svJEo=
AUTH_URL=http://localhost:3000

